<!doctype html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<link href="__PUBLIC__/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/css/holder.css" type="text/css" rel="stylesheet" />
	<link href="<{$Think.const.HOME_PUBLIC}>/css/common.css" type="text/css" rel="stylesheet" />
	<link href="<{$Think.const.HOME_PUBLIC}>/css/mycenter.css" type="text/css" rel="stylesheet" />
	<title>个人中心</title>
</head>

<body>
	<div class="container margin-top-50">
		<div class="row">
			<div class="user-part col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="maozi"></div>
				<div class="without-side">
					<div class="img">
						<div class="user-pic">
							<img width="140" height="140" src="__PUBLIC__/userImgs/<{$user.img}>" alt="<{$user.username}>" />
						</div>
						<div class="counts">	
							<a class="follows" href="__CONTROLLER__/showFollow?type=follows&&userid=<{$user.user_id}>" target="_blank">
								<div class="num"><{$user.follow_num}></div>
								<div class="sub">关注</div>
							</a>
							<a class="followers" href="__CONTROLLER__/showFollow?type=followers&&userid=<{$user.user_id}>" target="_blank">
								<div class="num"><{$user.follower_num}></div>
								<div class="sub">粉丝</div>
							</a>
						</div>
					</div><!--img end-->

					<div class="user-info">
						<h1>
							<span><{$user.username}></span>
							<span id="user-id" class="hide"><{$user.user_id}></span>
							<span id="if-follow" class="hide"><{$user.flag}></span>
							<small>
								<a href="##" id="follow">
									<span class="glyphicon glyphicon-star-empty"></span>
								</a>
							</small>
						</h1>
						<p>
							<span>邮箱：</span>
							<span><{$user.email}></span>
						</p>
					</div><!--user-info end-->
				</div><!--without-side end-->

				<div class="user-tabs">
					<ul class="nav navbar-nav">
						<li>
							<a href="##" id="a-post" class="user_tag">Ta的帖子</a>
						</li>
						<li>
							<a href="##" id="a-comment" class="user_tag">Ta的回复</a>
						</li>
						<li class="hidden">
							<a href="##" id="a-collect" class="user_tag">Ta的收藏</a>
						</li>
					</ul>
				</div><!--user-tabs end-->
			</div>
		</div><!--row end-->

		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 margin-top-20">
                <div id="my-posts">
                	<div id="cont" class="hide-div">
						<foreach name="result" item="v">
							<div class="post-preview hide-div margin-bottom-10">
								<h3 class="post-title">
									<a href="__CONTROLLER__/post?id=<{$v.posts_id}>" target="_blank">
										<{$v.posts_title}>
									</a>
								</h3>
								<div class="post-content">
									<{$v.posts_content|mb_substr=###,0,100,'utf-8'}>...
								</div>
								<p class="post-meta">
									<span class="glyphicon glyphicon-user"><{$v.posts_author}></span>
									<span class="glyphicon glyphicon-time"><{$v.posts_time}></span>
									<span class="glyphicon glyphicon-comment">(<{$v.com_num}>)评论</span>
								</p>
							</div>
						</foreach>
	                </div>
	                <div id="real-cont">
	                    <p class="text-center">Ta还没发表帖子哦~</p>
	                </div>
	                <div id="holder" class="holder pull-right margin-bottom-50"></div>
                </div><!--my-posts-->

                <div id="my-coms" class="hide-div">
                	<div id="coms" class="hide-div">
	                    <foreach name="comments" item="v">
	                        <div class="post-preview margin-bottom-10 hide-div">
	                            <p class="post-content"><{$v.com_content}></p>
	                            <p class="post-meta">
	                            	from:
	                            	<a href="__CONTROLLER__/post?id=<{$v.posts_id}>" target="_blank"><{$v.posts_title}></a>
	                            </p>
	                        </div>
	                    </foreach>
	                </div>
	                <div id="real-coms">
	                    <p class="text-center">Ta还没发表评论哦~</p>
	                </div>
	                <div id="com-holder" class="holder pull-right margin-bottom-50"></div>
                </div><!--my-com-->
			</div>
		</div>
	</div>
	<script>
        function getURL(){
    		return "__CONTROLLER__";
    	}
    	function getUser(){
    		return "<{$_SESSION['user_id']}>";
    	}
    </script>
	<script src="__PUBLIC__/js/jquery-2.2.2.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/jquery.pagination.js"></script>
    <script src="<{$Think.const.HOME_PUBLIC}>/js/common.js"></script>
    <script src="<{$Think.const.HOME_PUBLIC}>/js/mycenter.js"></script>
    <script src="<{$Think.const.HOME_PUBLIC}>/js/user.js"></script>
</body>
</html>
